html, body {
    height: 98%;
    width: 100%;
}
body {
    background-image: url("../images/background\(1\).jpg");
}
.main_background {
    border: 2px solid blue;
    border-radius: 6px;
    background-color: rgba(248, 238, 148, 0.897);
    width: 1200px;
    height: auto;
    min-height: 700px;
    position: relative;
    margin: auto;
    margin-top: 55px;
}
._header {
    border: 2px solid blue;
    border-radius: 6px;
    background-color: rgb(255, 255, 0);
    text-align: center;
    width: auto;
    height: 75px;
}
.header_text {
	font-family: courier;
    font-weight: bold;
    font-size: 40px;
	text-shadow: 2px 2px 1px blue;
}
._footer {
    border: 2px solid rgb(0, 0, 255);
    border-radius: 6px;
    background-color: rgb(255, 255, 0);
    text-align: center;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0%;
}
#games_bottom {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0%;
}
.footer_text {
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
}
.entity_field::after, .row::after {
    content: "";
    display: table;
    clear: both;
}
.menu {
    float: left;
    width: 15%;
}
#menu_list {
    height: 200px;
}
#menu_list > li {
    list-style: none;
    font-family: courier;  
    font-weight: bold;
    border: 1px solid rgb(69, 69, 207);
    height: 25px;
    width: 70px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 3px;
}
.active:hover {
    border: 1px solid rgb(69, 69, 207);
    background-color: yellow;
}
.active {
    color: black;
    font-family: courier;  
    font-weight: bold;
    background-color:rgb(250, 250, 117);
}

.right_column {
    margin-top: 20px;
    float: left;
    width: 85%;
}
.text_field {
    background-color: ivory;
    border: 2px dotted black;
    border-radius: 10px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-right: 70px;
    font-family: cursive;
    font-size: 15px;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }
.current_page {
    background-color: rgb(186, 170, 255);
    display: block;
}
.first_line {
    text-align: center;
}
.no_decore_link {
    text-decoration: none;
    color: black;
}
.result_column {
    margin-top: 20px;
    float: left;
    width: 70%;
}
.tools_column {
    margin-top: 20px;
    float: left;
    width: 15%;
}
.entity_field, .bio_field {
    border: 2px solid black;
    background-color: ivory;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 100px; 
    font-family: 'Courier New';
}
.entity_field { margin-bottom: 20px;}

.ava {
    float: left;
    width: 20%;
    border-right: 2px dashed black;
    align-items: center;
    height: 110px;
}
.detail_field {
    float: left;
    width: auto;
    margin-left: 10px;
    padding-top: 10px;
}
.bio_field {
    margin-top: -21px;
    padding-top: 10px;
    padding-left: 20px;
}
#pages > span {
    height: 2px;
    width: 2px;
    font-size: 20px;
}
#pages {
    position: relative;
    top: 0%;
}
#el1 { margin-left: 42%;}
#num { margin-left: 3%;}
#el2 { margin-left: 3%;}